*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 534px;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content { 
  display: flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
  block-size: 534px;
}

.result {
  flex-grow: 1;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  appearance: none;
  border: none;
  border-width: 1px 0; 
  border-style: solid;
  border-color: white;
  color: #fff;
  width: 225px;
  height: 27px;
  padding: 0 2px;
  
}

.search-form__textfield:focus {
  outline: none;;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
}

.search-form__pseudo-checkbox::after{
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 390px;
  min-block-size: 34px; 
  margin-bottom: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent { 
  color: #545050;
}

.content__list {
  display: flex;
  gap: 30px; 
  flex-direction: column; 
}

.content__list-container {
  position: relative;
  overflow-y: auto;
  height: 399px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
} 

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 390px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 195px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  width: 196px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
} 

.content__list-item {
  padding-left: 3px;
  width: 390px;
  height: 103px;
}

.result__video-container { 
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video{ 
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}